.main-content {
  background-image: url(./Main_img/bg-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-clip: inherit;
  background-attachment: scroll;
  height: 70vh;
}
.main-content2 {
  background-image: url(./Main_img/bg-image2.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-clip: inherit;
  background-attachment: scroll;
  height: 70vh;
}
.main-content3 {
  background-image: url(./Main_img/bg-image3.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-clip: inherit;
  background-attachment: scroll;
  height: 70vh;
}
.main-btn {
  background: #e31e24;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.8);
}
.Main .slick-dots {
  bottom: 0.5px;
  width: 100%;
}
.Main .slick-dots li {
  width: 10%;
  height: auto;
}
.Main .slick-dots li button {
  color: aliceblue;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.27);
  width: 100%;
  height: 5px;
  font-size: 0;
}
.Main .slick-dots li.slick-active button {
  background-color: #ffffff;
  height: 1px;
}
.Main .slick-dots li button:before {
  font-size: 0;
}
.partners {
  background-image: url(./Main_img/partner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-clip: inherit;
  background-attachment: scroll;
}
