#img1 {
    height: 192px;
    width: 1154px;
    margin: 0 auto;
}

.img2 {
    display: inline;
}

#bg {
    height: auto;
    width: 100%;
    border-radius: 0px;
    background: #004AAD;
}

#gosp {
    padding: 1% 4%;
    font-size: 23px;

}

#gosplow{
    padding: 5% 4%;
    font-size: 23px;
}

#osp2 {
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    color: aliceblue;
    line-height: 150%;
    padding-bottom: 1%;
    text-transform: uppercase;
}


.list-disc {
    list-style-type: disc;
    padding-left: 3%;
}

#osp3 {
    font-family: 'Montserrat';
    font-style: normal;
    color: aliceblue;
    padding-bottom: 3%;
    font-weight: 200;
}
#osp3AAA {
    font-family: 'Montserrat';
    font-style: normal;
    color: aliceblue;
    
    font-weight: 200;
}

#osp5 {
    font-family: 'Montserrat';
    font-style: normal;
    padding-bottom: 3%;
    color: aliceblue;
    font-weight: 200;
}

#osp4 {
    font-family: 'Montserrat';
    font-style: normal;
    color: aliceblue;
    padding-bottom: 3%;
    font-weight: 200;
}

#osp6 {
    font-family: 'Montserrat';
    font-style: normal;
    padding-left: 2%;
    color: aliceblue;
    list-style: circle;
    font-weight: 200;
}

.osp9 {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 150%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.gosp3 {
    width: 100%;
    background: #004AAD;
    flex-direction: column;
    display: flex;
    padding: 5% 4%;
}

.osp10 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.osp11 {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.osp12 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 23px;
    font-weight: 200;
}

.osp13 {
    font-family: 'Montserrat';
    font-style: normal;
    padding-bottom: 6%;
    font-size: 23px;
    font-weight: 200;
}

.cts5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.osp14 {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 150%;
    text-transform: uppercase;
}

.btn {
    width: 300px;
    height: 80px;
    margin: auto;
    background: #E31E24;
    box-shadow: 6px 10px 30px 2px #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2%;

}

.bttn2 {
    padding: 15px 35px;
    height: 80px;
    background: #56B75A;
    box-shadow: 6px 10px 30px 2px #000000;
}

.p2 {
    font-family: 'Montserrat', sans-serif;
}